* {
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body {
	text-align: center;
	margin: 0;
	background-color: #5b3b6b;
}

.calculator {
	border: 2px solid rgb(0, 0, 0);
	border-right: 15px solid rgb(9, 50, 4);
	border-bottom: 8px solid rgb(9, 50, 4);
	border-top: 6px solid rgb(9, 50, 4);
	border-left: 4px solid rgb(9, 50, 4);
	background-color: rgb(60, 134, 88);
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 40px;
	width: 400px;
}


.screen {
	border: 1px solid rgb(58, 11, 58);
	height: 70px;
	border-radius: 15px;
	background-color: rgb(209, 242, 223);
	border-right: solid 5px rgb(9, 50, 4);
	border-bottom: solid 3px rgb(9, 50, 4);
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	align-items: center;
	font-size: 30px;
	padding-right: 10px;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
	border-radius: 15px;
	justify-content: center;
	padding: 10px;
}

.operators, .digits {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

button {
	padding: 27px;
	border-radius: 10px;
	color: rgb(209, 242, 223);
	border-right: solid rgb(9, 50, 4) 5px;
	border-bottom: solid rgb(9, 50, 4) 3px;
	font-family: monospace;
	font-weight: bold;
}

.digit {
	background-color: #1A6C83;
}

.operator, #equal, #clear {
	background-color: brown;
}

button:hover, #equal:hover, #clear:hover {
	border-color: #580e5a;
	background-color: goldenrod;
	color: #0e0f5a;
}

button:active {
	border-right: solid rgb(9, 50, 4) 4px;
	border-left: solid rgb(9, 50, 4) 3px;

}

.row, .operators, .digits, .buttons {
	gap: 25px;
}